<h1>Mascotas</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Caracteristicas</th>
        <th>descripcion</th>
        <th>raza</th>
        <th>talla</th>
        <th>image</th>
        <th>lugar Adopcion</th>
        <th>horas vistias</th>
        <th>mail</th>
        <th>requerimientos</th>

    </tr>

    <tr>
        <td>{{mascotas.nombre}}</td>
        <td>{{mascotas.edad}}</td>
        <td>{{mascotas.caracteristicas}}</td>
        <td>{{mascotas.descripcion}}</td>
        <td>{{mascotas.raza}}</td>
        <td>{{mascotas.talla}}</td>
        <td>{{mascotas.image}}</td>
        <td>{{mascotas.lugarAdopcion}}</td>
        <td>{{mascotas.horasVisitas}}</td>
        <td>{{mascotas.mail}}</td>
        <td>{{mascotas.requerimientos}}</td>
    

    </tr>

</table>