<h1>Mascotas</h1>
<table>
    <tr>
        <th>Mensaje</th>
        <th>Fecha solicitud</th>
        <th>Fecha confirmada</th>
        <th>adoptado status</th>
        <th>fecha de adopcion</th>
        

    </tr>

    <tr>
        <td>{{adopcion.mensaje}}</td>
        <td>{{adopcion.fecha_solicitud}}</td>
        <td>{{adopcion.fecha_confirmada}}</td>
        <td>{{adopcion.adoptado}}</td>
        <td>{{adopcion.fecha_adopcion}}</td>
        


    </tr>

</table>