<h1>Mascotas</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>apellido</th>
        <th>sexo</th>
        <th>email</th>
        <th>contraseña</th>
        <th>edad</th>
        <th>estado</th>
        <th>descripcion</th>
        <th>image</th>
        <th>facebook</th>
        <th>telefono</th>

    </tr>

    <tr>
        <td>{{usuarios.nombre}}</td>
        <td>{{usuarios.apellido}}</td>
        <td>{{usuarios.sexo}}</td>
        <td>{{usuarios.email}}</td>
        <td>{{usuarios.password}}</td>
        <td>{{usuarios.edad}}</td>
        <td>{{usuarios.estado}}</td>
        <td>{{usuarios.descripcion}}</td>
        <td>{{usuarios.image}}</td>
        <td>{{usuarios.facebook}}</td>
        <td>{{usuarios.telefono}}</td>
        <td>{{usuarios.typeUser}}</td>


    </tr>

</table>